<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-0">
        <ul class="contact-list">
          <li>{{ site.title }} ist kostenfrei und open source.</li>
          <li>&nbsp;</li>
          <li><a href="/en/contact">Kontakt</a></li>
          <li><a href="/en/press">Presse</a></li>
          <li><a href="/en/terms">Nutzungsbedingungen</a></li>
          <li>&nbsp;</li>
          <li>© Lale.help gGmbH</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
