<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-0">
        <ul class="contact-list">
          <li>{{ site.title }} ist kostenfrei und open source.</li>
          <li>&nbsp;</li>
          <li><a href="/de/contact">Kontakt</a></li>
          <li><a href="/de/press">Presse</a></li>
          <li><a href="/de/terms">Nutzungsbedingungen</a></li>
          <li>&nbsp;</li>
          <li>© Lale.help gGmbH - <a href="/de/legal">Impressum</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
