<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-0">
        <ul class="contact-list">
          <li>{{ site.title }} is non-profit / open / collaborative / aspirational / compassionate / global and local.</li>
          <li>&nbsp;</li>
          <li><a href="/en/contact">Contact us</a></li>
          <li><a href="/en/press">Press</a></li>
          <li><a href="/en/terms">Terms & Conditions</a></li>
          <li>&nbsp;</li>
          <li>© Lale.help gGmbH - <a href="/en/legal">Impressum</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
